<div class="container-fluid">
    <div class="row mt-5 justify-content-center col-12 col-lg-6 mx-auto">
        <h1>{{blogArticle.title}}</h1>
    </div>

    <div class="row col-12 col-lg-6  mx-auto mt-4">
        <p><b>Description :</b> {{blogArticle.description}}</p>
    </div>

    <div class="row col-12 col-lg-6  mx-auto mt-2">
        <p><b>Tags : </b>{{blogArticle.tags}}</p>
    </div>

    <div class="row col-12 col-lg-6  mx-auto mt-2">
        <p>{{blogArticle.content}}</p>
    </div>

    <div class="row col-12 col-lg-6  mx-auto mt-3 justify-content-center">
        <a routerLink="/">Retour à l'accueil</a>
    </div>
</div>