<div class="container-fluid">
    <div class="row align-items-center justify-content-center mt-5 col-12 col-lg-6  mx-auto">
        <h1>Accueil de l'application de démo sur les resolvers</h1>
    </div>

    <div class="row align-items-center mt-4 col-12 col-lg-6  mx-auto">
        <p class="lead">Cette application sert de démonstration pour l'utilisation des resolvers. Elle compte deux pages simulant le comportement de pages de blogs et une page d'erreur.</p>
        <p class="lead">Sur la première page, les données sont récupérées de façon classique, à l'aide d'un service appelé à l'initialisation du composant d'affichage de la page de blog.</p>
        <p class="lead">Sur la deuxième page, les données sont récupéres à l'aide d'un resolver.</p>
    </div>

    <div class="row align-items-center mt-3 col-12 col-lg-6  mx-auto">
        <ul>
            <li><a routerLink="/usualBlogPage/1">Page article de blog classique</a></li>
            <li><a routerLink="/resolvedBlogPage/1">Page article de blog avec resolver</a></li>
            <li><a routerLink="/usualBlogPage/2">Page article de blog avec erreur 404 classique</a></li>
            <li><a routerLink="/resolvedBlogPage/2">Page article de blog avec erreur 404 avec resolver</a></li>
        </ul>
    </div>
</div>




